body {
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 8rem !important;
    font-weight: bolder;
    padding: 4rem 0;
}

span {
    color: rgb(6, 235, 52);
}

ul {
    list-style-type: none;
    font-size: 900;
}

a {
    text-decoration: none;
    color: black;

}